.note-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(0);
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%; 
    z-index: 99;
}

.action-div {
    display: flex;
    align-items: center;
}

.noted-date {
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
}

.workspace {
    flex: 1;
    overflow: auto;
    scrollbar-width: none;
}

.workspace::-webkit-scrollbar {
    display: none;
}

.back-txt {
    font-size: 1rem;
}

.ql-editor {
    font-size: 1.4rem;
}

.holder-div {
    position: relative;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .note-holder {
        animation: show 0.5s ease-in-out forwards;
    }

    .close {
        animation: close 0.5s ease-in-out forwards;
    }

    @keyframes close {
        from {
            transform: translate(0);
        }
        to {
            transform: translate(100%);
        }
    }
    
    @keyframes show {
        from {
            transform: translate(-50%, -50%);
            opacity: 0.95;
            transform: scale(0.9);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@media only screen and (min-width: 800px) {
    .note-holder, .workspace {
        position: relative;
        border-radius: 20px;
    }

    .note-holder {
        animation: show-big 0.5s ease-in-out forwards;
    }

    .close {
        animation: close-big 0.6s ease-in-out forwards;
    }

    @keyframes close-big {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0.9);
        }
    }
    
    @keyframes show-big {
        from {
            opacity: 0.95;
            transform: scale(0.9);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}