.background {
    width: 100%;
    height: 100vh;
    background: url('../../assets/background.svg'); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.welcome {
    width: fit-content; 
    text-align: center;
}

.logo {
    width: 50px;
}

.welcome-header {
    font-size: 2.3rem;
}

.welcome-subheader {
    font-weight: 600;
}

.login, .signup {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content; 
    z-index: 1;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 35vh;
    margin: 0 auto;
}

.signup-form {
    height: 45vh;
}

.user-field, .pwd-field {
    width: 100% !important;
}

.my-button {
    padding: 20px 0px !important;
}

.state {
    display: flex;
    border-radius: 20px 20px 0px 0px;
}

.state-buttons {
    background-color: transparent;
    border: none;
    outline: none;
    width: 50%;
    font-size: 1rem;
    padding: 15px;
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.state-buttons:first-child {
    border-radius: 20px 0px 0px 0px;
}

.state-buttons:nth-child(2) {
    border-radius: 0px 20px 0px 0px;
}

.inactive {
    background-color: #b4ada6!important;
    color: white;
    font-size: 0.9rem;
}

.state-buttons::-moz-focus-inner {
    border: 0;
}
