.background {
    width: 100%;
    height: 100vh;
    background: url('../../assets/background.svg'); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.welcome {
    width: fit-content; 
    text-align: center;
}

.logo {
    width: 100px;
}

.welcome-header {
    color: white;
    font-size: 2.3rem;
}

.welcome-subheader {
    font-weight: 600;
}

.login, .signup {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content; 
    z-index: 1;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 45vh;
    margin: 0 auto;
}

.forgot-link {
    text-decoration: none;
    text-align: center;
}

.login-form {
    animation: login 0.5s ease-in-out forwards;
    justify-content: space-around;
}

.signup-form {
    animation: signup 0.5s ease-in-out forwards;
    justify-content: space-evenly;
}

@keyframes login {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0%)
    }
}

@keyframes signup {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%)
    }
}


.user-field, .pwd-field {
    width: 100% !important;
}

.my-button {
    padding: 20px 0px !important;
}

.state {
    display: flex;
    border-radius: 20px 20px 0px 0px;
}

.state-buttons {
    animation: active 0.5s ease-in-out forwards;
    background-color: transparent;
    border: none;
    outline: none;
    width: 50%;
    font-size: 1rem;
    padding: 15px;
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.state-buttons:first-child {
    border-radius: 20px 0px 0px 0px;
}

.state-buttons:nth-child(2) {
    border-radius: 0px 20px 0px 0px;
}

.inactive {
    background-color: #b4ada6!important;
    color: white;
    font-size: 0.9rem;
    animation: inactive 0.3s ease-in-out forwards;
}

@keyframes active {
    from {
        background-color: #b4ada6!important;
        color: white;
    }
    to {
        background-color: transparent;
        color: black;
    }
}


@keyframes inactive {
    from {
        background-color: transparent;
        color: black;
        /* font-size: 1rem; */
    }
    to {
        background-color: #b4ada6!important;
        color: white;
        /* font-size: 0.9rem;  */
    }
}

.state-buttons::-moz-focus-inner {
    border: 0;
}
