.gallery-div {
    position: relative;
    margin: 0px 15px 10px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
    scrollbar-width: none;
}

.gallery-div::-webkit-scrollbar {
    display: none;
}

.gallery-note {
    max-width: 200px;
    position: relative;
    margin: 20px;
    text-align: center;
}

.gallery-preview {
    overflow: hidden;
    width: 150px;
    height: 180px;
    background-color: white;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.preview-paragraph {
    padding: 10px;
    height: 95px;
    overflow: hidden;
    font-size: 0.6rem;
    text-align: left;
}

.gallery-preview {
    height: 150px;
}

.grid-time {
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
}

.grid-note-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    border-radius: 0px 0px 15px 15px;
    margin-top: -45px;
    background-color: rgb(202, 202, 202);
}

.grid-title, .grid-time {
    color: rgb(112, 112, 112);
}

@media only screen and (min-width: 800px) {

    .white {
        color: white !important;
    }

    .gallery-preview:hover {
        cursor: pointer;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 2.3px 7.9px rgba(0, 0, 0, 0.072),
        0 1.8px 3.4px rgba(0, 0, 0, 0.086),
        0 10px 10px rgba(0, 0, 0, 0.12)
    }

    .gallery-div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .gallery-note {
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-preview, .grid-note-info {
        width: 90%;
        max-width: 300px;
    }
}