.gallery-div {
    margin: 10px 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    --gap: 25px;
    display: inline-flex;
    flex-wrap: wrap;
}

.gallery-note {
    margin-bottom: 20px;
    text-align: center;
}

.gallery-preview {
    overflow: hidden;
    width: 150px;
    height: 15vh;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.preview-paragraph {
    padding: 10px;   
    font-size: 0.6rem;
    text-align: left;
}

.time {
    font-weight: 600;
    font-size: 0.8rem;
}